In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
gtes = "gtes.xls"
goi = "goi.xls"
gom = "gom.xls"
gef = "gef.xls"

bdgtes = pd.read_excel('../data/'+gtes)
bdgoi = pd.read_excel('../data/'+goi)
bdgom = pd.read_excel('../data/'+gom)
bdgef = pd.read_excel('../data/'+gef)

bdBruto= pd.concat([bdgtes,bdgoi,bdgom,bdgef],ignore_index=True)
# bd.describe()

WARNING *** file size (620327) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (357091) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3984880) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (4900804) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [2]:
#bdBruto.columns

In [3]:
bdReducida=bdBruto.loc[:,('glosa_reng','cve_debe_haber','monto_mo',
           'cod_moneda', 'cod_movimiento', 'nom_movimiento',
           'monto_mn','glosa_comprob','nro_comprob','cod_mayor')]
bdReducida

,glosa_reng,cve_debe_haber,monto_mo,cod_moneda,cod_movimiento,nom_movimiento,monto_mn,glosa_comprob,nro_comprob,cod_mayor
0,NaN,H,488493.03,69,1483,ACREEDORES POR DOCUMENTOS DE COBRO INMEDIATO ...,488493.03,"DEPOSITO DE CHEQUES AJENOS, CONCEPTO: TRAMITE...",1989932,498
1,NaN,H,729.22,69,1483,ACREEDORES POR DOCUMENTOS DE COBRO INMEDIATO ...,729.22,"DEPOSITO DE CHEQUES AJENOS, CONCEPTO: TRAMITE...",1989933,498
2,NaN,H,35.78,69,1483,ACREEDORES POR DOCUMENTOS DE COBRO INMEDIATO ...,35.78,"DEPOSITO DE CHEQUES AJENOS, CONCEPTO: TRAMITE...",1989935,498
3,NaN,H,2.00,69,1483,ACREEDORES POR DOCUMENTOS DE COBRO INMEDIATO ...,2.00,"DEPOSITO DE CHEQUES AJENOS, CONCEPTO: TRANSFE...",1989946,498
4,NaN,H,559335.14,69,1483,ACREEDORES POR DOCUMENTOS DE COBRO INMEDIATO ...,559335.14,"DEPOSITO DE CHEQUES AJENOS, CONCEPTO: REEMBOL...",1989972,498
...,...,...,...,...,...,...,...,...,...,...
6809,NaN,D,26814486.58,69,7425,VUN AGENCIA DE BOLSA - CUENTA DE LIQUIDACION ...,26814486.58,E33 TRANSFERENCIA A CUENTAS DE CLIENTES DEL SI...,1558345,414
6810,NaN,D,15421.02,69,7425,VUN AGENCIA DE BOLSA - CUENTA DE LIQUIDACION ...,15421.02,E33 TRANSFERENCIA A CUENTAS DE CLIENTES DEL SI...,1558347,414
6811,NaN,D,53156743.56,69,7425,VUN AGENCIA DE BOLSA - CUENTA DE LIQUIDACION ...,53156743.56,E33 TRANSFERENCIA A CUENTAS DE CLIENTES DEL SI...,1558369,414
6812,NaN,D,130475.16,69,7425,VUN AGENCIA DE BOLSA - CUENTA DE LIQUIDACION ...,130475.16,E33 TRANSFERENCIA A CUENTAS DE CLIENTES DEL SI...,1558371,414
6813,NaN,D,2506.48,69,7425,VUN AGENCIA DE BOLSA - CUENTA DE LIQUIDACION ...,2506.48,E33 TRANSFERENCIA A CUENTAS DE CLIENTES DEL SI...,1558373,414

In [4]:
dict = {'glosa_reng':'glosaRenglon','cve_debe_haber':'dh','monto_mo':'mo',
           'cod_moneda':'moneda', 'cod_movimiento':'codMov', 'nom_movimiento':'nomMov',
           'monto_mn':'mn','glosa_comprob':'glosa','nro_comprob':'comprobante','cod_mayor':'mayor'}
bdReducida.rename(columns=dict,
          inplace=True)
bdReducida.shape

(6814, 10)

In [5]:
#bd['mayor'].unique()

bdFiltro1=bdReducida[bdReducida['mayor'].isin([7,10,11,16,17])]

In [6]:
#bdFiltro1.loc[:,("comprobante","mayor")]
bdFiltro1["comprobante"].unique()
#bdFiltro1.sort_values(by="comprobante", ascending=True)

array([1989943, 1989965, 1990012, 1990005, 1023245,   28368, 1023252,
       1023273,   21775, 1750703, 1751094, 1751095, 1023248, 1751442,
         28372, 1750953, 1750955, 1750957, 1750959, 1750961, 1023253,
       1023251, 1751436, 1751437, 1751439, 1751441, 1023272, 1023271,
       1751546, 1751547, 1023283, 1023280, 1023277, 1023274, 1023268,
       1023269], dtype=int64)

In [7]:
#bd[bd['comprobante'].isin(bdFiltro1["comprobante"])].sort_values(by="comprobante", ascending=True).tail(60)
bd=bdReducida[bdReducida['comprobante'].isin(bdFiltro1["comprobante"])].sort_values(by=["comprobante","dh"], ascending=True)
bd = bd.reset_index(drop=True)
bd.head()

,glosaRenglon,dh,mo,moneda,codMov,nomMov,mn,glosa,comprobante,mayor
0,Saldo ME = -678032.20 ;Bs/Mo: 6.86000000000 ;S...,D,0.0,53,5713,RECUPERACIONES CREDITO ESPAÑOL FAD V C.N.S. ...,0.01,AJUSTE COMPLEMENTARIO POR REVALORIZACION SALDO...,21775,410
1,Saldo ME = 97295.53 ;Bs/Mo: 6.86000000000 ;Sal...,D,0.0,53,6072,MADRID EUROS CUENTA ES2990299029960000000107 ...,0.03,AJUSTE COMPLEMENTARIO POR REVALORIZACION SALDO...,21775,10
2,Saldo ME = 36393620.25 ;Bs/Mo: 6.86000000000 ;...,D,0.0,50,114,TRAMO DE RESERVA ...,0.01,AJUSTE COMPLEMENTARIO POR REVALORIZACION SALDO...,21775,23
3,Saldo MO = 9997084.80 ;Bs/Mo: 6.86000000000 ;S...,D,0.0,34,6286,TITULOS - PORTAFOLIO DE LIQUIDEZ ...,0.01,AJUSTE COMPLEMENTARIO POR REVALORIZACION SALDO...,21775,16
4,Saldo MO = -6759632.48 ;Bs/Mo: 6.86000000000 ;...,D,0.0,34,818,CTAS. CTES. FISC. CORRESP. -BCO.UNION ...,0.01,AJUSTE COMPLEMENTARIO POR REVALORIZACION SALDO...,21775,412

In [8]:
list(bd.loc[55,["glosa"]])

['||TRANSFERENCIA DE FONDOS S/G. MENSAJE SWIFT NRO. 189 DE LA FECHA, Y NOTA CITE: DGAC/1573/16 DE FECHA 05/05/2016 (HRE-TGL-6755).  (SECTOR PÚBLICO - SOBREVUELOS).                                                                                                                                           ']

In [9]:
#bd.to_excel("ux.xlsx")

In [16]:
bd=bd.drop_duplicates()
bd = bd.reset_index(drop=True)
bd

,glosaRenglon,dh,mo,moneda,codMov,nomMov,mn,glosa,comprobante,mayor
0,Saldo ME = -678032.20 ;Bs/Mo: 6.86000000000 ;S...,D,0.0,53,5713,RECUPERACIONES CREDITO ESPAÑOL FAD V C.N.S. ...,0.01,AJUSTE COMPLEMENTARIO POR REVALORIZACION SALDO...,21775,410
1,Saldo ME = 97295.53 ;Bs/Mo: 6.86000000000 ;Sal...,D,0.0,53,6072,MADRID EUROS CUENTA ES2990299029960000000107 ...,0.03,AJUSTE COMPLEMENTARIO POR REVALORIZACION SALDO...,21775,10
2,Saldo ME = 36393620.25 ;Bs/Mo: 6.86000000000 ;...,D,0.0,50,114,TRAMO DE RESERVA ...,0.01,AJUSTE COMPLEMENTARIO POR REVALORIZACION SALDO...,21775,23
3,Saldo MO = 9997084.80 ;Bs/Mo: 6.86000000000 ;S...,D,0.0,34,6286,TITULOS - PORTAFOLIO DE LIQUIDEZ ...,0.01,AJUSTE COMPLEMENTARIO POR REVALORIZACION SALDO...,21775,16
4,Saldo MO = -6759632.48 ;Bs/Mo: 6.86000000000 ;...,D,0.0,34,818,CTAS. CTES. FISC. CORRESP. -BCO.UNION ...,0.01,AJUSTE COMPLEMENTARIO POR REVALORIZACION SALDO...,21775,412
...,...,...,...,...,...,...,...,...,...,...
123,NaN,H,30000.0,34,3559,DOLARES AMERICANOS EN CORRESPONSAL BCO.UNION ...,205800.00,VENTA DE DOLARES REALIZADA EN EL BANCO UNION S...,1990005,828
124,NaN,H,3000.0,69,6892,DIFERENCIAL CAMBIARIO P/VTA. USD-OTRAS OPERACI...,3000.00,VENTA DE DOLARES REALIZADA EN EL BANCO UNION S...,1990005,680
125,NaN,H,30000.0,34,8085,DOLARES ESTADOUNIDENSES - MANDATO BUSA ...,205800.00,VENTA DE DOLARES REALIZADA EN EL BANCO UNION S...,1990005,7
126,NaN,D,2500000.0,34,3910,BCO.UNION-CUENTA CORRIENTE Y DE ENCAJE ...,17150000.00,"PAGO CHEQUE: D-21-99280 , BENEFICIARIO: MA...",1990012,403
127,NaN,H,2500000.0,34,3491,DOLARES AMERICANOS EN TESORO PROPIO ...,17150000.00,"PAGO CHEQUE: D-21-99280 , BENEFICIARIO: MA...",1990012,7

In [21]:
bd["comprobante"].unique()

array([  21775,   28368,   28372, 1023245, 1023248, 1023251, 1023252,
       1023253, 1023268, 1023269, 1023271, 1023272, 1023273, 1023274,
       1023277, 1023280, 1023283, 1750703, 1750953, 1750955, 1750957,
       1750959, 1750961, 1751094, 1751095, 1751436, 1751437, 1751439,
       1751441, 1751442, 1751546, 1751547, 1989943, 1989965, 1990005,
       1990012], dtype=int64)

In [64]:
aux1=bd[bd["comprobante"]==1751094]
aux1=aux1.reset_index(drop=True)
aux1

,glosaRenglon,dh,mo,moneda,codMov,nomMov,mn,glosa,comprobante,mayor
0,CTA. 3987 CUENTA UNICA DEL TESORO LIB. 000990...,D,28885.32,69,3987,CUENTA UNICA DEL TESORO ...,28885.32,PAGO A CAF PRÉSTAMO CFA008604 VCTO. 07-01-2022...,1751094,412
1,CTA. 5970 CUENTA UNICA DEL TESORO DOLARES AMER...,D,5959047.86,34,5970,CUENTA UNICA DEL TESORO EN DOLARES AMERICANOS ...,40879068.32,PAGO A CAF PRÉSTAMO CFA008604 VCTO. 07-01-2022...,1751094,412
2,NaN,H,191.40,69,1510,REEMBOLSO GASTOS DE COMUNICACIÓN ...,191.40,PAGO A CAF PRÉSTAMO CFA008604 VCTO. 07-01-2022...,1751094,600
3,NaN,H,24895.33,69,5781,COMISIONES POR PAGO DEUDA EXTERNA ...,24895.33,PAGO A CAF PRÉSTAMO CFA008604 VCTO. 07-01-2022...,1751094,650
4,NaN,H,5959047.86,34,7080,BANK OF AMERICA MERRILL LYNCH MIAMI 1901-3-282...,40879068.32,PAGO A CAF PRÉSTAMO CFA008604 VCTO. 07-01-2022...,1751094,10
5,NaN,H,43.50,69,1514,UTILES DE ESCRITORIO ...,43.50,PAGO A CAF PRÉSTAMO CFA008604 VCTO. 07-01-2022...,1751094,600

In [65]:
#len(aux1)

In [70]:
for i in aux1.index:
    for j in aux1.index:
        if i!=j:
            if aux1["mn"][i]==aux1["mn"][j]:
                print(aux1["mayor"][i],aux1["dh"][i],aux1["mn"][i])

412 D 40879068.32
10 H 40879068.32

In [93]:

data=[]
columnas=["Concepto","DesdeHacia","MN"]

for i in aux1.index:
    for j in aux1.index:
        if i!=j:
            if aux1["mn"][i]==aux1["mn"][j]:
               # print(aux1["mayor"][i],aux1["dh"][i],aux1["mn"][i])
                data.append({"Concepto":aux1["dh"][i],"DesdeHacia":aux1["mayor"][i],"MN":aux1["mn"][i]})
salida=pd.DataFrame(data,columns=columnas)
salida

  Concepto  DesdeHacia           MN
0        D         412  40879068.32
1        H          10  40879068.32